.header {
  padding: 3rem;
  text-align: center;
}

.icon {
  height: 42px;
}

.content {
  display: flex;
  justify-content: center !important;
}

form {
  flex: 0 0 80%;
  padding: 2rem 2rem 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  text-align: center;
}

.stats{
  text-align: center;
}

.statsBox{
  flex: 0 0 25%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  text-align: center;
  margin: .5rem;
}

.statsRow{
  display: flex;
  justify-content: center !important;
}